


<nav class="navbar navbar-inverse bg: #08088A">
  <div class="container-fluid">
    <div class="navbar-header">
   
      <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Article", articles_path %></li>
      <li><%= link_to "New Articlee", new_article_path%></li>
    </ul>
  </div>
</nav>